* {
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  padding: 25px;
  color: #00ff41;
  background-color: #0D0208;
}

.start-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen--title {
  margin-top: -50px;
  font-size: 3rem;
}

.start-screen--description {
  font-size: 1.125rem;
  text-align: center;
  width: 500px;
}

.start-screen--btn {
  border: none;
  background-color: #00ff41;
  width: 200px;
  height: 55px;
  font-size: 1.125rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 35px;
  transition: background-color 275ms ease-in-out;
}

.start-screen--btn:hover {
  background-color: #008f11;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
  padding-top: 40px;
}

.quiz--questions {
  font-size: 1.5rem;
  line-height: 21px;
}

.quiz--answers {
  margin-top: 34px;
  display: grid;
  grid-template: 1fr / repeat(4, 1fr);
  justify-items: center;
  width: 65%;
}

.quiz--answers > button {
  color: #00ff41;
  border: 1px solid #00ff41;
  background-color: #0D0208;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  width: 175px;
}

.quiz--answers > button:hover {
  transform: scale(1.4);
}

.bottom {
  display: flex;
  justify-content: center;
}

.check-btn {
  margin-top: 100px;
  color: #0D0208;
  background-color: #00ff41;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 300px;
  height: 75px;
  font-size: 1.4rem;
  transition: background-color 275ms ease-in-out;
}

.check-btn:hover {
  background-color: #0dffd2;
}